<html>
<body>
<form>
    <th:block th:fragment="input (label, name, type)">
        <div th:with="valid=${!#fields.hasErrors(name)}" class="form-group row">
            <label class="col-sm-2 col-form-label" th:text="${label}">Label</label>
            <div class="col-sm-10" th:switch="${type}">
                <input th:case="'text'" class="form-control" type="text" th:field="*{__${name}__}"
                       th:classappend="${valid ? '' : 'is-invalid'}"/>

                <input th:case="'date'" class="form-control" type="date" th:field="*{__${name}__}"
                       th:classappend="${valid ? '' : 'is-invalid'}" value=""/>
                <div th:if="${!valid}" class="invalid-feedback" th:errors="*{__${name}__}">Error</div>
            </div>
        </div>
    </th:block>
</form>
</body>
</html>
