<html>
<body>
<nav th:fragment="paginated (path)" aria-label="Page navigation">
    <ul class="pagination">
        <!-- first -->
        <li class="page-item" th:classappend="${page.isFirst()} ? disabled">
            <a class="page-link" aria-label="First"
               th:href="@{${path}(page=0)}">
                <i aria-hidden="true" class="fas fa-angle-double-left"></i>
            </a>
        </li>

        <!-- previous -->
        <li class="page-item" th:classappend="${!page.hasPrevious()} ? disabled">
            <a class="page-link" aria-label="Previous"
               th:href="@{${path}(page=${page.number -1})}">
                <i aria-hidden="true" class="fas fa-angle-left"></i>
            </a>
        </li>

        <!-- sequence -->
        <li class="page-item"
            th:if="${page.totalPages > 0}" th:each="pageNumber : ${#numbers.sequence(0,page.totalPages -1)}"
            th:classappend="${pageNumber==page.number} ? 'active' : ''">
            <a class="page-link"
               th:href="@{${path}(page=${pageNumber})}"
               th:text="${pageNumber +1 }">1</a>
        </li>

        <!-- next-->
        <li class="page-item" th:classappend="${!page.hasNext()} ? disabled">
            <a class="page-link" aria-label="Next"
               th:href="@{${path}(page=${page.number +1})}">
                <i aria-hidden="true" class="fas fa-angle-right"></i>
            </a>
        </li>

        <!-- last -->
        <li class="page-item" th:classappend="${page.isLast()} ? disabled">
            <a class="page-link" aria-label="Last"
               th:href="@{${path}(page=${page.totalPages -1})}">
                <i aria-hidden="true" class="fas fa-angle-double-right"></i>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>